<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/images/shared/favicon.png" type="image/png" />
        <meta name="keywords" content="" />
        <meta name="description" content=" 19日，特朗普总统在联合国大会上的发言第一次强调了国家主权在国际关系中需要发挥更大的作用。他还呼吁联合国解决来自朝鲜的迫在眉睫的威胁。虽然他强调的国家主权和国际合" />
        <title>斯坦加龙：“伊朗谈判”和“朝鲜交易”，特朗普在联合国大会演讲中的悖论_观点分享_美中新视角基金会</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection, print">
    <!--link rel="stylesheet" href="../../css/blueprint/print.css" type="text/css" media="print"-->
    <!--[if lt IE 8]><link rel="stylesheet" href="../../css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  	
  	<!-- Common js -->
    <script type="text/javascript" src="/js/cookie.js"></script>

	<!-- Import for global files -->
	<link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/zh-cn/css/global.css" type="text/css" media="screen, projection, print">
  	
  	<!--Import for page specific file-->
  	<link rel="stylesheet" href="/css/news.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/css/news_subpages.css" type="text/css" media="screen, projection, print">



   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection, print">


    <style type="text/css">
<!--
.STYLE10 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.STYLE12 {
	color: #000000;
	font-weight: bold;
}
.STYLE14 {color: #FFFFFF}
.STYLE15 {color: #000000}
-->
    </style>
</head>
  <body>
  	
    <div class="container">
      	<div class="span-24">
      		<a id="headerlogo" href="../index.html"><img src="/images/shared/logo.gif"/><span>美中新视角基金会</span></a>
</div>

      	<div class="span-24 globalnavi">
      		<ul class="main_nav">
				<li ><a href="/zh-cn/" class="navi">首页</a></li>
				<li><a href="/zh-cn/introduction.html" class="navi">关于我们</a></li>
				<li><a href="/zh-cn/policy.html" class="navi">项目</a></li>
				<li><a href="/zh-cn/magazine.html" class="navi">新视角杂志</a></li>
			        <li class="active"><a href="/zh-cn/view/" class="navi">钝角网</a></li>
				<li><a href="/zh-cn/contact.html" class="navi">联系我们</a></li>
			</ul>
      	</div>
      	
      	<div id="main_content" class="span-24">
      			<p class="quiet time">&nbsp;</p>
   			    <div align="center" class="STYLE10">
   			      <h1>斯坦加龙：“伊朗谈判”和“朝鲜交易”，特朗普在联合国大会演讲中的悖论</h1>
   			      </div>
	          <p align="center">&nbsp;</p>
	          <p align="center"><span class="quiet time  STYLE12">2017-09-26 10:01:52&nbsp;<a href='http://www.dunjiaodu.com/' target=_blank>钝角网</a>&nbsp;</span></p>
	          <br>
	          <br>
	          <div class="xinwen" style="font-size:16px;line-height:1.6em;text-indent:2em"><p>19日，特朗普总统在联合国大会上的发言第一次强调了国家主权在国际关系中需要发挥更大的作用。他还呼吁联合国解决来自朝鲜的迫在眉睫的威胁。虽然他强调的国家主权和国际合作的想法不一定相互矛盾，但两者之间却存在潜在的博弈关系。加上特朗普提到，其政府有可能会终止与伊朗的核武器谈判，这些都使得未来解决朝鲜危机的方式成为新问题。</p>
<p>特朗普在联合国大会的讲话中提出了一个潜在的、有趣的&ldquo;主权&rdquo;定义。特朗普认为，主权国家有&ldquo;两个核心主权职责：一个是尊重主权内部人民的利益，另外一个是尊重其他主权国家的权利&rdquo;。这个新定义与长期被认可的《威斯特伐利亚条约》(Treaty   of   Westphalia)对主权的定义有一定不同。《威斯特伐利亚条约》的主权指的是主权国家在不受其他国家干涉的情况下，对其领土的统治权利。这个长期以来的主权定义并没有期待国家为其民众利益而行动。</p>
<p style="text-align: center;"><img src="/d/file/zh-cn/view/2017-09-26/ad9b5355a0532482e1a837d00eea5fe6.jpg" alt="朝核.jpg" width="600" height="400" /></p>
<p>本质上，特朗普提出了不干涉别国事务的想法，还包含主权国家照顾其领土内人民利益的义务，以及有限的现代多边主义的看法。特朗普在发言中明确指出，美国并不试图将本国的政府形式强加给其他国家，所以主权国家对其人民的义务和其政府形式并不相关，而是体现在政府是否为其人民的利益而工作。</p>
<p>但是，特朗普似乎也表示，如果一个国家没有履行其对主权领土内人民的义务，那么它就不能保证其主权的第二个方面   &mdash;&mdash;其他国家不能干涉其内政。在现代，主权的定义似乎更有延展性。例如，欧盟就建立在主权联合的概念上。这个联合主权为了实现更高的目标，似乎包含一定程度的干涉其他国家主权的意思。主权定义的延展性在联合国的语境下更有体现。联合国有着&ldquo;保护的责任&rdquo;这一概念，也就是说，在一国发生种族灭绝、种族清洗或者战争等情况下，联合国的成员国有责任介入该国事务。特朗普似乎不太可能提出这样一个广泛的主权概念：在此概念下，一国可以对其他国家的主权进行干涉。但是，特朗普似乎在探讨，如果国家主权不能完成其职责，保障其民众利益，并丧失其领土主权，其他国家则有可能介入该国家的事务。</p>
<p>正如特朗普所言，如果美国必须捍卫自己或其盟友，就会准备&ldquo;完全摧毁朝鲜&rdquo;。虽然很少人注意到，他提出的解决之道与联合国试图解决问题的方法有一定的相似性。但是他对主权的看法，似乎为联合国对朝鲜采取强硬行动提供了依据。联合国采取行动的原因，似乎是因为平壤的政权没有照顾到其公民的利益，而并非因为朝鲜核计划的危害。虽然国际上对朝鲜核武器对国际和平与安全构成威胁有明确的共识，但是强调公民的利益，加上模糊的国家主权定义，可能会使得朝鲜问题进一步复杂化。因为在此语境下，我们不知道是否仅仅解决核武器问题就足够了。</p>
<p>如果特朗普定义的主权可能会导致对朝鲜采取集体行动的问题复杂化，他认为美国可能不会继续与伊朗核对话的建议也会让问题更加复杂。美国与伊朗的谈判一直被认为是其与朝鲜交易的一个可以遵循的潜在框架。而平壤拒绝了这样的一个安排，这可能意味着双方都需要重新探索潜在的解决问题的出发点。平壤可能是在寻求比伊朗方面更慷慨的安排。而<strong>特朗普政府所表示的关切表明，美国将寻求一个能解决多项问题的协议，而不仅仅是朝鲜的武器计划。</strong></p>
<p>然而，想达成能解决更多问题的协议，要找到政治空间，来通过谈判达成可以阻止朝鲜武器扩充和控制其军事能力的条款。这也是长期以来联合国不断加强对其制裁的目标。为了实行和谈政策，美国需要有信誉，让对方觉得美国是一个可以谈判的伙伴，也让对方觉得可以从谈判中获得共识性的结果。然而<strong>如果美国停止与伊朗的协议，这毫无疑问不仅会削弱美国与朝鲜的谈判信誉，也会令美国国际政策的可信度降低，因为大家似乎看到，任何与美国达成的协议，都可能被未来的美国政府改变。</strong></p>
<p>这也可能会导致美国与朝鲜半岛地区其他各国的合作复杂化。任何成功的对朝协议都需要中俄两国的合作，以及它们共同保持对朝鲜的压力。如果美国不被中国视为约束朝鲜行为的可信伙伴，中国就会减轻对朝鲜的压力，也没有积极性促使朝鲜进入与各方的谈判，并达成多方合作的协议。</p>
<p>虽然特朗普比以往的任何美国总统都乐于使用强硬语言，但是在许多方面，他在联合国的讲话并非像许多人指出的那样具有挑衅意味。虽然他指出美国将会对朝鲜的挑衅进行强力回击，但是他的建议与美国此前行政当局的政策并不矛盾，而且，他对联合国解决朝鲜危机的呼吁一直不受关注。他自己的言论也是为了达到一定目的而提出的。所以，他提出的主权概念和国家对其公民的义务，是否表明美国对朝鲜的政策正在发生变化，而且此种变化超过了其他国家预期的解决方案;美国政府与伊朗核武器的谈判是否会破坏与朝鲜达成协议的努力;都是很重要的问题。这是美国政府需要澄清、并防止其政策相互矛盾的两个关键问题。</p></div>
   	  </div>   
              	<!--Footer-->
  <div class="footer2" style="width:950px;clear: both;margin:0 auto;">
    <div class="container clearfix" style="width:950px;">
      <div class="copyright fl" style="margin-left:25px;">
        <div class="contact"> <a href="">版权声明</a><b>|</b><a href="/zh-cn/contact.html">联系方式</a> </div>
        <p>美中新视角基金会版权所有 Copyright &copy; The U.S.-China New Perspectives Foundation</p>
        <p style="text-indent:0em;">电话TEL：+1（626）656-3512（美国）；+86（10）6496-1765（中国）</p>
      </div>
      <div class="scan-links" style="margin-right: 25px;"> 
          <a class="forum-link" href="#"><img src="/images/shared/weixin.png" alt="微信公众号"/><span>微信公众号</span></a> 
      </div>
    </div>
  </div>
      	
      	<div id="lanuagetextbar" class="prepend-17 span-5"><div class="right push-1"><a href="/zh-cn/"  onClick="setCookie('userlang','zh-cn', 30)">中文简体</a> |  <a href="/en/"  onClick="setCookie('userlang','en', 30)">ENGLISH</a></div></div>
      	<div id="languagemap" class="span-2 last"><a href=""><img class="right" width="56" height="29" src="/images/shared/world.gif"></a></div>  
  </body>
<script src="/e/public/ViewClick/?classid=7&id=75&addclick=1"></script>
</html>
