<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/images/shared/favicon.png" type="image/png" />
    <title>中日学者朝核问题对话（三）：新形势下的各国对朝政策</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection, print">
    <!--link rel="stylesheet" href="../../css/blueprint/print.css" type="text/css" media="print"-->
    <!--[if lt IE 8]><link rel="stylesheet" href="../../css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  	
  	<!-- Common js -->
    <script type="text/javascript" src="/js/cookie.js"></script>

	<!-- Import for global files -->
	<link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/zh-cn/css/global.css" type="text/css" media="screen, projection, print">
  	
  	<!--Import for page specific file-->
  	<link rel="stylesheet" href="/css/news.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/css/news_subpages.css" type="text/css" media="screen, projection, print">



   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection, print">


    <style type="text/css">
<!--
.STYLE10 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.STYLE12 {
	color: #000000;
	font-weight: bold;
}
.STYLE14 {color: #FFFFFF}
.STYLE15 {color: #000000}
-->
    </style>
</head>
  <body>
  	
    <div class="container">
      	<div class="span-24">
      		<a id="headerlogo" href="../index.html"><img src="/images/shared/logo.gif"/><span>美中新视角基金会</span></a>
</div>

      	<div class="span-24 globalnavi">
      		<ul class="main_nav">
				<li ><a href="/zh-cn/" class="navi">首页</a></li>
				<li><a href="/zh-cn/introduction.html" class="navi">关于我们</a></li>
				<li><a href="/zh-cn/fankong.html" class="navi">运营项目</a></li>
				<li><a href="/zh-cn/news/" class="navi">新闻动态</a></li>
			        <li class="active"><a href="/zh-cn/view/" class="navi">观点分享</a></li>
				<li><a href="/zh-cn/contact.html" class="navi">联系方式</a></li>
			</ul>
      	</div>
      	
      	<div id="main_content" class="span-24">
      		<div class="span-17 last push-1">
      			<p class="quiet time">&nbsp;</p>
   			    <div align="center" class="STYLE10">
   			      <h1>中日学者朝核问题对话（三）：新形势下的各国对朝政策</h1>
	          <p align="center">&nbsp;</p>
	          <p align="center"><span class="quiet time  STYLE12">2017-03-17 10:00:36&nbsp;<a href='http://www.dunjiaodu.com/' target=_blank>钝角网</a>&nbsp;</span></p>
                  <div class="xinwen" style="font-size:16px;line-height:1.6em;text-indent:2em"><strong style="box-sizing: border-box; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-weight: bold; padding-top: 0px">在第三方因素的作用下，中美关系仍会有不小的波动</strong>。&ldquo;萨德入韩&rdquo;进一步加剧中美两国之间的战略互疑，中美军事安全合作的空间被压缩。在朝核问题上，特朗普政府在竞选期间就大肆渲染&ldquo;中国责任论&rdquo;。蒂勒森在即任国务卿的国会听证会上表示，如果&ldquo;中国不能履行联合国的制裁，则美国应迫使中国履行制裁，采取行动以使中国就范。&rdquo;这就意味着，在未来中美高级会谈中，&ldquo;朝核问题&rdquo;将成为中美较量的主要议题。如果美朝在特朗普任期内可以实现对话，则中美在半岛合作的空间将扩大;而如果特朗普坚持对朝鲜的强硬政策;或对朝鲜实施冒险性行动，则中美不但无法实现朝核问题的合作，反而将加速关系的紧张。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　朝鲜的外交关系也在经历不小的调整。朝美关系是朝鲜外交的重中之重。如果特朗普继续奥巴马政府的对朝政策，即巩固美韩、美日同盟，对朝鲜强化制裁和孤立，那么它只会刺激朝鲜义无反顾地走上发展核武之路，未来美国将面对一个对本土直接构成安全威胁的国家。 目前，朝鲜仍在坚持走&ldquo;并进政策&rdquo;，除了其核武和导弹发展，朝鲜的经济状况也应值得关注。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　综上，2017年的朝鲜半岛和东北亚局势将在震荡与期待中度过。韩国即将开始的总统选举，以及特朗普政府亚太团队的最终成立都将是此中最为关键的变量。新冷战格局有可能在东北亚浮现，各国需要警惕冷战思维主导各自的决策过程。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　<strong style="box-sizing: border-box; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-weight: bold; padding-top: 0px">　周志兴</strong>：第二个发言的是日本国际研究所的客座研究员山崎周。</span></span></p>
<p style="box-sizing: border-box; text-align: center; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体"><img alt="山埼周.jpg" src="http://www.dunjiaodu.com/d/file/top/2017-03-17/3d66c56771b9bd741e03f2961052a57d.jpg" width="600" height="426" style="box-sizing: border-box; border-bottom: medium none; border-left: medium none; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; max-width: 100%; vertical-align: middle; border-top: medium none; border-right: medium none; padding-top: 0px" /></span></span></p>
<p style="box-sizing: border-box; text-align: center; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"></div>
      		</div>
   	  </div> 
          	<!--Footer-->
  <div class="footer2" style="width:950px;clear: both;margin:0 auto;">
    <div class="container clearfix" style="width:950px;">
      <div class="copyright fl" style="margin-left:25px;">
        <div class="contact"> <a href="">版权声明</a><b>|</b><a href="">联系方式</a> </div>
        <p>美中新视角基金会版权所有 Copyright &copy; The U.S.-China New Perspectives Foundation</p>
        <p style="text-indent:0em;">电话TEL：+1（626）656-3512（美国）；+86（10）6496-1765（中国）</p>
      </div>
      <div class="scan-links" style="margin-right: 25px;"> 
          <a class="forum-link" href="#"><img src="/images/shared/weixin.png" alt="微信公众号"/><span>微信公众号</span></a> 
      </div>
    </div>
  </div>
      	
      	<div id="lanuagetextbar" class="prepend-17 span-5"><div class="right push-1"><a href="/zh-cn/"  onClick="setCookie('userlang','zh-cn', 30)">中文简体</a> |  <a href="/en/"  onClick="setCookie('userlang','en', 30)">ENGLISH</a></div></div>
      	<div id="languagemap" class="span-2 last"><a href=""><img class="right" width="56" height="29" src="/images/shared/world.gif"></a></div>    	
    </div>
  </body>
</html>
