<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/images/shared/favicon.png" type="image/png" />
    <title>中日学者朝核问题对话（三）：新形势下的各国对朝政策</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection, print">
    <!--link rel="stylesheet" href="../../css/blueprint/print.css" type="text/css" media="print"-->
    <!--[if lt IE 8]><link rel="stylesheet" href="../../css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  	
  	<!-- Common js -->
    <script type="text/javascript" src="/js/cookie.js"></script>

	<!-- Import for global files -->
	<link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/zh-cn/css/global.css" type="text/css" media="screen, projection, print">
  	
  	<!--Import for page specific file-->
  	<link rel="stylesheet" href="/css/news.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/css/news_subpages.css" type="text/css" media="screen, projection, print">



   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection, print">


    <style type="text/css">
<!--
.STYLE10 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.STYLE12 {
	color: #000000;
	font-weight: bold;
}
.STYLE14 {color: #FFFFFF}
.STYLE15 {color: #000000}
-->
    </style>
</head>
  <body>
  	
    <div class="container">
      	<div class="span-24">
      		<a id="headerlogo" href="../index.html"><img src="/images/shared/logo.gif"/><span>美中新视角基金会</span></a>
</div>

      	<div class="span-24 globalnavi">
      		<ul class="main_nav">
				<li ><a href="/zh-cn/" class="navi">首页</a></li>
				<li><a href="/zh-cn/introduction.html" class="navi">关于我们</a></li>
				<li><a href="/zh-cn/fankong.html" class="navi">运营项目</a></li>
				<li><a href="/zh-cn/news/" class="navi">新闻动态</a></li>
			        <li class="active"><a href="/zh-cn/view/" class="navi">观点分享</a></li>
				<li><a href="/zh-cn/contact.html" class="navi">联系方式</a></li>
			</ul>
      	</div>
      	
      	<div id="main_content" class="span-24">
      		<div class="span-17 last push-1">
      			<p class="quiet time">&nbsp;</p>
   			    <div align="center" class="STYLE10">
   			      <h1>中日学者朝核问题对话（三）：新形势下的各国对朝政策</h1>
	          <p align="center">&nbsp;</p>
	          <p align="center"><span class="quiet time  STYLE12">2017-03-17 10:00:36&nbsp;<a href='http://www.dunjiaodu.com/' target=_blank>钝角网</a>&nbsp;</span></p>
                  <div class="xinwen" style="font-size:16px;line-height:1.6em;text-indent:2em"><span style="font-size: small"><span style="font-family: 宋体"><b style="box-sizing: border-box; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-weight: bold; padding-top: 0px">山崎周</b><strong style="box-sizing: border-box; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-weight: bold; padding-top: 0px">：美国新政权对朝鲜政策的现状和今后的展望，可能是&ldquo;战略性不忍耐&rdquo;，不排除力量外交的说法</strong></span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　<strong style="box-sizing: border-box; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-weight: bold; padding-top: 0px">山崎周</strong>：我谈一下美国新政权对朝鲜政策的现状和今后的展望。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　首先第一点，朝鲜的核问题，美中关系是非常重要的因素。作为我个人的看法，美中关系现在对立日益加重，中国在不断的崛起，而美国相对衰退，两国的关系出现了结构性的不稳定。美国提出了所谓的&ldquo;亚太轴心&rdquo;和&ldquo;再平衡&rdquo;，就是不管怎么说都要更加重视东亚。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　美国的这些政策，我想特朗普政权也会继承。他在外交上会更多的以武力作为基础。特朗普会对中国摆出更加强硬的姿态，中国则一直想跟美国建立新型大国关系，但是与此同时在领土和主权问题上绝不妥协。比如说在南海，去年卸任的中国海军司令员吴胜利说南海是中国的核心利益所在。他在中国的军报网站上说在特朗普执政期间有可能发生两国之间的冲突，所以中国对美国也会采取比较强硬的立场。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　另外，2月9号两国的首脑举行了首次电话会谈。美国包括前任的政府高官在内都说美中有很多悬而未决的问题，两国对立有可能进一步加深。在东亚有四个纠纷的隐患。第一是台湾问题;第二是东海;第三是南海;第四个就是朝鲜半岛。因此，<strong style="box-sizing: border-box; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-weight: bold; padding-top: 0px">美中两国在朝鲜问题上的胶着过招可能会进一步加剧对立。</strong></span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"></div>
      		</div>
   	  </div> 
          	<!--Footer-->
  <div class="footer2" style="width:950px;clear: both;margin:0 auto;">
    <div class="container clearfix" style="width:950px;">
      <div class="copyright fl" style="margin-left:25px;">
        <div class="contact"> <a href="">版权声明</a><b>|</b><a href="">联系方式</a> </div>
        <p>美中新视角基金会版权所有 Copyright &copy; The U.S.-China New Perspectives Foundation</p>
        <p style="text-indent:0em;">电话TEL：+1（626）656-3512（美国）；+86（10）6496-1765（中国）</p>
      </div>
      <div class="scan-links" style="margin-right: 25px;"> 
          <a class="forum-link" href="#"><img src="/images/shared/weixin.png" alt="微信公众号"/><span>微信公众号</span></a> 
      </div>
    </div>
  </div>
      	
      	<div id="lanuagetextbar" class="prepend-17 span-5"><div class="right push-1"><a href="/zh-cn/"  onClick="setCookie('userlang','zh-cn', 30)">中文简体</a> |  <a href="/en/"  onClick="setCookie('userlang','en', 30)">ENGLISH</a></div></div>
      	<div id="languagemap" class="span-2 last"><a href=""><img class="right" width="56" height="29" src="/images/shared/world.gif"></a></div>    	
    </div>
  </body>
</html>
