<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/images/shared/favicon.png" type="image/png" />
    <title>中日学者朝核问题对话（三）：新形势下的各国对朝政策</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection, print">
    <!--link rel="stylesheet" href="../../css/blueprint/print.css" type="text/css" media="print"-->
    <!--[if lt IE 8]><link rel="stylesheet" href="../../css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  	
  	<!-- Common js -->
    <script type="text/javascript" src="/js/cookie.js"></script>

	<!-- Import for global files -->
	<link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/zh-cn/css/global.css" type="text/css" media="screen, projection, print">
  	
  	<!--Import for page specific file-->
  	<link rel="stylesheet" href="/css/news.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/css/news_subpages.css" type="text/css" media="screen, projection, print">



   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection, print">


    <style type="text/css">
<!--
.STYLE10 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.STYLE12 {
	color: #000000;
	font-weight: bold;
}
.STYLE14 {color: #FFFFFF}
.STYLE15 {color: #000000}
-->
    </style>
</head>
  <body>
  	
    <div class="container">
      	<div class="span-24">
      		<a id="headerlogo" href="../index.html"><img src="/images/shared/logo.gif"/><span>美中新视角基金会</span></a>
</div>

      	<div class="span-24 globalnavi">
      		<ul class="main_nav">
				<li ><a href="/zh-cn/" class="navi">首页</a></li>
				<li><a href="/zh-cn/introduction.html" class="navi">关于我们</a></li>
				<li><a href="/zh-cn/fankong.html" class="navi">运营项目</a></li>
				<li><a href="/zh-cn/news/" class="navi">新闻动态</a></li>
			        <li class="active"><a href="/zh-cn/view/" class="navi">观点分享</a></li>
				<li><a href="/zh-cn/contact.html" class="navi">联系方式</a></li>
			</ul>
      	</div>
      	
      	<div id="main_content" class="span-24">
      		<div class="span-17 last push-1">
      			<p class="quiet time">&nbsp;</p>
   			    <div align="center" class="STYLE10">
   			      <h1>中日学者朝核问题对话（三）：新形势下的各国对朝政策</h1>
	          <p align="center">&nbsp;</p>
	          <p align="center"><span class="quiet time  STYLE12">2017-03-17 10:00:36&nbsp;<a href='http://www.dunjiaodu.com/' target=_blank>钝角网</a>&nbsp;</span></p>
                  <div class="xinwen" style="font-size:16px;line-height:1.6em;text-indent:2em"><span style="font-size: small"><span style="font-family: 宋体">　　这种关系对朝鲜是求之不得的。从90年代中期开始，朝鲜一直就非常善于利用美中的对立。这对朝鲜进行核武装和核试验是非常有利的。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　特朗普在成为总统之前，曾经夸过金正恩，说&ldquo;我愿意跟他边吃汉堡，边进行直接对话&rdquo;。但是，另一方面对中国不满，说中国在朝鲜问题上没有发挥很好的作用。特朗普总统说奥巴马告诉他，朝鲜是迫在眉睫的威胁所在。朝鲜的核威胁已经普遍被美国的决策人士当作现实的威胁。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　2月上旬美国国防部长访问了日本和韩国，谈到了朝鲜问题。韩国和日本也都表示非常关注朝鲜的核威胁和导弹威胁。所以，对于特朗普政权来说朝鲜的核问题是一个现实问题。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　安倍在2月10号到12号访问美国，和特朗普进行了会谈。在两国发表的共同宣言中提到两国强烈要求朝鲜应该放弃核武器和导弹开发计划。在会谈的过程中，朝鲜就发射了导弹。当时特朗普提出两国举行紧急记者会见。安倍首相回到日本之后阐述了特朗普政权对朝鲜的政策：进一步进行严厉的制裁，同时，把所有的选项都放在桌子上，寻求外交解决。安倍还说，美国对朝鲜的态度明显强硬了。安倍首相用了一个词叫&ldquo;战略性忍耐&rdquo;，但是不放弃军事解决。在此之前，美国更多的是忍耐，但是现在已经到了对忍耐政策进行重新审视的时候。弗林对朝鲜也采取强硬的态度，虽然他已经辞职，但是我认为今后的美国政府仍然会把朝鲜问题作为一个重点。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　<strong style="box-sizing: border-box; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-weight: bold; padding-top: 0px">安倍回国之后，特朗普和加拿大的特鲁多总理进行了会谈，表示会用强硬的姿态去应对朝鲜核问题。</strong>其实，朝鲜的导弹发射其实对于美中关系也非常重要。美国的某政府高官以不透露姓名为前提向路透社发表了看法，即特朗普政权将向中国施加更大的压力，要求中国更严厉的对待朝鲜，这应该是特朗普政权给中国的一个信息。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"></div>
      		</div>
   	  </div> 
          	<!--Footer-->
  <div class="footer2" style="width:950px;clear: both;margin:0 auto;">
    <div class="container clearfix" style="width:950px;">
      <div class="copyright fl" style="margin-left:25px;">
        <div class="contact"> <a href="">版权声明</a><b>|</b><a href="">联系方式</a> </div>
        <p>美中新视角基金会版权所有 Copyright &copy; The U.S.-China New Perspectives Foundation</p>
        <p style="text-indent:0em;">电话TEL：+1（626）656-3512（美国）；+86（10）6496-1765（中国）</p>
      </div>
      <div class="scan-links" style="margin-right: 25px;"> 
          <a class="forum-link" href="#"><img src="/images/shared/weixin.png" alt="微信公众号"/><span>微信公众号</span></a> 
      </div>
    </div>
  </div>
      	
      	<div id="lanuagetextbar" class="prepend-17 span-5"><div class="right push-1"><a href="/zh-cn/"  onClick="setCookie('userlang','zh-cn', 30)">中文简体</a> |  <a href="/en/"  onClick="setCookie('userlang','en', 30)">ENGLISH</a></div></div>
      	<div id="languagemap" class="span-2 last"><a href=""><img class="right" width="56" height="29" src="/images/shared/world.gif"></a></div>    	
    </div>
  </body>
</html>
