<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/images/shared/favicon.png" type="image/png" />
    <title>中日学者朝核问题对话（三）：新形势下的各国对朝政策</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection, print">
    <!--link rel="stylesheet" href="../../css/blueprint/print.css" type="text/css" media="print"-->
    <!--[if lt IE 8]><link rel="stylesheet" href="../../css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  	
  	<!-- Common js -->
    <script type="text/javascript" src="/js/cookie.js"></script>

	<!-- Import for global files -->
	<link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/zh-cn/css/global.css" type="text/css" media="screen, projection, print">
  	
  	<!--Import for page specific file-->
  	<link rel="stylesheet" href="/css/news.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/css/news_subpages.css" type="text/css" media="screen, projection, print">



   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection, print">


    <style type="text/css">
<!--
.STYLE10 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.STYLE12 {
	color: #000000;
	font-weight: bold;
}
.STYLE14 {color: #FFFFFF}
.STYLE15 {color: #000000}
-->
    </style>
</head>
  <body>
  	
    <div class="container">
      	<div class="span-24">
      		<a id="headerlogo" href="../index.html"><img src="/images/shared/logo.gif"/><span>美中新视角基金会</span></a>
</div>

      	<div class="span-24 globalnavi">
      		<ul class="main_nav">
				<li ><a href="/zh-cn/" class="navi">首页</a></li>
				<li><a href="/zh-cn/introduction.html" class="navi">关于我们</a></li>
				<li><a href="/zh-cn/fankong.html" class="navi">运营项目</a></li>
				<li><a href="/zh-cn/news/" class="navi">新闻动态</a></li>
			        <li class="active"><a href="/zh-cn/view/" class="navi">观点分享</a></li>
				<li><a href="/zh-cn/contact.html" class="navi">联系方式</a></li>
			</ul>
      	</div>
      	
      	<div id="main_content" class="span-24">
      		<div class="span-17 last push-1">
      			<p class="quiet time">&nbsp;</p>
   			    <div align="center" class="STYLE10">
   			      <h1>中日学者朝核问题对话（三）：新形势下的各国对朝政策</h1>
	          <p align="center">&nbsp;</p>
	          <p align="center"><span class="quiet time  STYLE12">2017-03-17 10:00:36&nbsp;<a href='http://www.dunjiaodu.com/' target=_blank>钝角网</a>&nbsp;</span></p>
                  <div class="xinwen" style="font-size:16px;line-height:1.6em;text-indent:2em"><span style="font-size: small"><span style="font-family: 宋体">　　2月17号，G20上美中外长进行了会谈。美国蒂勒森国务卿和中国的王毅表示，中国应该加强对朝鲜的制裁。在此之后中国表示暂停从朝鲜进口煤炭，这种举措在美国获得了好评。2月23号，特朗普接受路透社的采访，说如果中国真有心的话，朝鲜核问题可以很简单地解决。我认为，美国今后会向中国提出更多的要求。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　中国一直说通过和平对话解决朝鲜的核武器问题。王毅外长在慕尼黑的安全会议上说，朝鲜核问题核心是美国。接下来谈一谈我个人对美国对朝政策的预测。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　日本一位研究人员提出，特朗普的对朝政策可能不是战略性忍耐，而是战略性不忍耐。双边谈判可能会是优先的选项，不排除力量外交也包括军事的选项。假如中国的想法实现，六方会谈再次启动，而<strong style="box-sizing: border-box; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-weight: bold; padding-top: 0px">特朗普政权认为六方会谈太慢，还是会优先选择与朝鲜进行双边会谈。</strong></span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　不排除力量外交这种说法，会让我们觉得朝鲜半岛的问题将会更加紧张。2012年朝鲜半岛状况非常紧张，今后有可能重现当时的情形。从现在的美朝关系来看，可能会更加危险。但是另一方面还有一种完全不同的可能性，也即美国改变对朝鲜的态度。特别是克林顿政权的第二期或者是布什政权的第二期，对朝鲜都采取了比较温和的政策。而六方会谈基本是由美朝先决定，其它国家来同意。<strong style="box-sizing: border-box; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-weight: bold; padding-top: 0px">如果美国改变对朝鲜的态度，会使日本和韩国陷入困难的状况。</strong></span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"><span style="font-size: small"><span style="font-family: 宋体">　　韩国学者说，特朗普政权有可能会直接和朝鲜进行直接的交易。今后朝鲜持续核武开发的可能性还是很大的。这样的话，有可能对美中关系产生不好的影响。朝鲜的挑衅行为会促进美韩关系、美日关系和日美韩的同盟关系，而中国会比较警戒，也会使美中关系、日中关系更加不稳定。</span></span></p>
<p style="box-sizing: border-box; text-align: left; padding-bottom: 0px; widows: 1; text-transform: none; text-indent: 0px; margin: 0px 0px 1em; padding-left: 0px; padding-right: 0px; font: 14px/28px 'Microsoft Yahei', 'Helvetica Neue', Verdana, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Heiti SC', STHeiti, SimSun, sans-serif; word-wrap: break-word; white-space: normal; letter-spacing: normal; color: rgb(80,80,80); word-spacing: 0px; padding-top: 0px; -webkit-text-stroke-width: 0px"></div>
      		</div>
   	  </div> 
          	<!--Footer-->
  <div class="footer2" style="width:950px;clear: both;margin:0 auto;">
    <div class="container clearfix" style="width:950px;">
      <div class="copyright fl" style="margin-left:25px;">
        <div class="contact"> <a href="">版权声明</a><b>|</b><a href="">联系方式</a> </div>
        <p>美中新视角基金会版权所有 Copyright &copy; The U.S.-China New Perspectives Foundation</p>
        <p style="text-indent:0em;">电话TEL：+1（626）656-3512（美国）；+86（10）6496-1765（中国）</p>
      </div>
      <div class="scan-links" style="margin-right: 25px;"> 
          <a class="forum-link" href="#"><img src="/images/shared/weixin.png" alt="微信公众号"/><span>微信公众号</span></a> 
      </div>
    </div>
  </div>
      	
      	<div id="lanuagetextbar" class="prepend-17 span-5"><div class="right push-1"><a href="/zh-cn/"  onClick="setCookie('userlang','zh-cn', 30)">中文简体</a> |  <a href="/en/"  onClick="setCookie('userlang','en', 30)">ENGLISH</a></div></div>
      	<div id="languagemap" class="span-2 last"><a href=""><img class="right" width="56" height="29" src="/images/shared/world.gif"></a></div>    	
    </div>
  </body>
</html>
