.first-left{
	height: 500px;
	/*background-color: green;*/
}
.first-right{
	height: 500px;
	background-color: pink;
}
.carousel-item{
	height: 390px;
	overflow: hidden;
}
.carousel-caption{
	background: rgba(96, 98, 102, 0.7);
}