.container{
	/*background-color: #8dacdd;*/
	height: 800px;
}
#logoImg{
	height: 90px;
}
#navDiv{
	vertical-align: bottom;
}
.navBtn{
	height: 40px;
	width: 115px;
	position: relative;
	top: 47px;
	border-radius: 0px;
	border: none;
	/*background-color: #CB071F;*/
	/*background-color: #004195;*/
	/*background-color: #265ea5;*/

	color: #265ea5;
	background-color: white;
	font-size: 18px;
	border-right: 2px solid #265ea5;

	/*font-weight: 500;*/
	font-family:'Myriad Pro','FZLTH_GB18030',"Microsoft YaHei","STHeiti-Light","SimSun";
}
.navBtn:hover{
	background-color: #b3b3b3;
}
.navBtn a{
	text-decoration: none;
	color: #265ea5;
}
.dropdown-bg{
	/*background-color: #CB071F;*/
	/*background-color: #004195;*/
}
.language{
	height: 40px;
	width: 125px;/*
	position: relative;
	top: 47px;*/
}

.footer{
	background-color: white;
	color: #004195;
	height: 50px;
}
.footer-center{
	/*background-color: pink;*/
	height: 50px;
}
a.footer-link{
	color: black;
	text-decoration: none;
}
a.footer-link: hover{
	color: black;
	text-decoration: none;
}