body{
	background:url(../images/shared/bg.jpg); 
	background-position:center; 
	background-repeat:no-repeat;
}
.container{
	/*background-color: grey;*/
	/*height: 100px;*/
}
.box{
	border:5px solid rgba(0,0,0,0);
}
.logoBox{
	align-content: center;
}
.logoImg{
	width: 250px;
}
.navBox{
	/*height: 55px;*/
	color:#093f86;
}
.footerBox{
	background-color: #257bbd;
	/*color: white;*/
}
.QRcodeBox{
	background-color: #257bbd;
}
.footer-link{
	color: black;
}
.scan-img{
	margin-top: 10px;
}