<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/images/shared/favicon.png" type="image/png" />
    <title>The Experts Speak: What Will US-China Relations Look Like Under Trump?</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection, print">
    <!--link rel="stylesheet" href="../../css/blueprint/print.css" type="text/css" media="print"-->
    <!--[if lt IE 8]><link rel="stylesheet" href="../../css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  	
  	<!-- Common js -->
    <script type="text/javascript" src="/js/print.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>

	<!-- Import for global files -->
	<link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/zh-cn/css/global.css" type="text/css" media="screen, projection, print">
  	
  	<!--Import for page specific file-->
  	<link rel="stylesheet" href="/css/news.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/css/news_subpages.css" type="text/css" media="screen, projection, print">



   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection, print">


    <style type="text/css">
<!--
.STYLE10 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.STYLE12 {
	color: #000000;
	font-weight: bold;
}
.STYLE14 {color: #FFFFFF}
.STYLE15 {color: #000000}
-->
    </style>
</head>
  <body>
  	
    <div class="container">
      	<div class="span-24">
      		<a id="headerlogo" href="../index.html"><img src="/images/shared/logo.gif"/><span>The U.S.-China New Perspectives Foundation</span></a>
</div>

      	<div class="span-24 globalnavi">
      		<ul class="main_nav">
				<li class="active"><a href="/en/" class="navi">Home</a></li>
				<li><a href="/en/introduction.html" class="navi">About Us</a></li>
				<li><a href="/en/fankong.html" class="navi">Programs</a></li>
				<li><a href="/en/news/" class="navi">Events</a></li>
			        <li><a href="/en/view/" class="navi">Viewpoint</a></li>
				<li><a href="/en/contact.html" class="navi">Contact Us</a></li>
			</ul>
      	</div>
      	
      	<div id="main_content" class="span-24">
      			<p class="quiet time">&nbsp;</p>
   			    <div align="center" class="STYLE10">
   			      <h1>The Experts Speak: What Will US-China Relations Look Like Under Trump?</h1>
   			      </div>
	          <p align="center">&nbsp;</p>
	          <p align="center"><span class="quiet time  STYLE12">1970-01-01 08:00:00&nbsp;&nbsp;</span></p>
	          <br>
	          <br>
	          <div class="xinwen" style="font-size:16px;line-height:1.6em;text-indent:2em"></span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">The U.S. and China are trying to navigate an inevitable competition amidst deep mutual suspicion and domestic fragility. This unpalatable brew could be rendered toxic by the addition of nationalism on either side or by the flaring of tensions in the Korean Peninsula, the Baltics, or the Middle East. Foreign affairs bureaucracies in Washington and Beijing cannot function normally under these circumstances. Roadmaps devised by both sides to encourage cooperation and defuse tensions are of limited use. As a result, the threat of wild card events pushing the United States and China toward conflict is greater than it has been at any time in nearly 40&nbsp;years.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman"><strong>Wang Jisi, Professor, School of International Studies, Peking University</strong></span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">Deng Xiaoping once said that China and the U.S. eventually will have to get along. President Xi Jinping has also reiterated on several occasions that common interests between China and the U.S. outweigh their differences. Rather than tactful diplomatic words, these are strategic assessments based on objective circumstances.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">Looking back at the more than two centuries of interaction between China and the U.S., the historical turning points have all occurred at times of dramatic political changes in China, such as the founding of New China in 1949 and the Reform and Opening-up in 1978, rather than during regime changes or political upheavals in the United States.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">This will be President Trump&rsquo;s first year in office, and his China policy will naturally be a matter of great interest. However, rather than speculating on the Trump administration&rsquo;s intentions by focusing on each statement and move it makes, China should first deliberate on the kind of China-U.S. relations that are beneficial to its own long-term interests, and endeavor to clarify the ways in which such relations can be achieved.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman"><strong>Dean Cheng, research fellow on Chinese political and security affairs, The Heritage Foundation</strong></span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">The question of U.S.-China policy through 2020 has tended to focus on the potential policies of President-elect Donald Trump. This is not surprising, both because Trump was only just&nbsp;inaugurated, and because he has made a variety of comments that question some of the fundamental aspects of the U.S.-China relationship.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">But as Americans, we tend to be excessively focused on what we do, how our actions may influence developments, when, as in any relationship, it takes two to tango.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">In the case of U.S.-China relations through the end of the decade, a central issue will be what policies Xi Jinping pursues, recognizing that many of those policies will<span class="Apple-converted-space">&nbsp;</span><em>not</em>&nbsp;be determined based on U.S.-China concerns, but domestic considerations, not only within China, but especially within the Politburo of the Communist Party of China (CPC).</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">This is especially salient, given the uncertainties surrounding the impending CPC 19th&nbsp;Party Congress. For reasons that remain unclear, Xi&rsquo;s Politburo Standing Committee (PSC) from the 2012 18th&nbsp;Party Congress included a heavy representation of people who are expected to have to step down this year. Indeed, the only two people assured of staying on are Xi and Premier Li Keqiang. Under CPC rules, the remainder should have to retire, having reached the age of 68 in 2017. While there are rumors that Wang Qishan, closely associated with Xi, may stay on, the very fact that these are rumors highlights the uncertainty.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">Chinese policies for the next five&nbsp;years will be affected by who emerges from the impending internal power struggle and debates. Will it be another group of people from the Xi cohort? Or will it be a group of younger leaders (in their late 50s), who would lend stability and continuity between the 19th&nbsp;and 20th&nbsp;Party Congress cohorts?</span></span></p>
<p><span style="font-size: small"></div>
   	  </div>     
          	<!--Footer-->
  <div class="footer2" style="width:950px;margin:0 auto;clear: both;">
    <div class="container clearfix" style="width:950px;">
      <div class="copyright fl" style="margin-left:25px;">
        <div class="contact"> <a href="/index.php/Index/statement.html">Copyright</a><b>|</b><a href="/index.php/About/contact.html">Contact</a> </div>
        <p>美中新视角基金会版权所有 Copyright &copy; The U.S.-China New Perspectives Foundation</p>
        <p style="text-indent:0em;">电话TEL：+1（626）656-3512（U.S.）；+86（10）6496-1765（中国）</p>
      </div>
      <div class="scan-links" style="margin-right: 25px;"> 
          <a class="forum-link" href="#"><img src="/images/shared/weixin.png" alt="微信公众号"/><span>微信公众号</span></a> 
      </div>
    </div>
  </div>
      	
      	<div id="lanuagetextbar" class="prepend-17 span-5"><div class="right push-1"><a href="/zh-cn/index.html" onClick="setCookie('userlang','zh-cn', 30)">中文简体</a> |  <a href="/en/index.html" onClick="setCookie('userlang','en', 30)">ENGLISH</a></div></div>
      	<div id="languagemap" class="span-2 last"><a href=""><img class="right" width="56" height="29" src="/images/shared/world.gif"></a></div>	
    </div>
  </body>
</html>
