<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/images/shared/favicon.png" type="image/png" />
    <title>The Experts Speak: What Will US-China Relations Look Like Under Trump?</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection, print">
    <!--link rel="stylesheet" href="../../css/blueprint/print.css" type="text/css" media="print"-->
    <!--[if lt IE 8]><link rel="stylesheet" href="../../css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  	
  	<!-- Common js -->
    <script type="text/javascript" src="/js/print.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>

	<!-- Import for global files -->
	<link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/zh-cn/css/global.css" type="text/css" media="screen, projection, print">
  	
  	<!--Import for page specific file-->
  	<link rel="stylesheet" href="/css/news.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/css/news_subpages.css" type="text/css" media="screen, projection, print">



   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection, print">


    <style type="text/css">
<!--
.STYLE10 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.STYLE12 {
	color: #000000;
	font-weight: bold;
}
.STYLE14 {color: #FFFFFF}
.STYLE15 {color: #000000}
-->
    </style>
</head>
  <body>
  	
    <div class="container">
      	<div class="span-24">
      		<a id="headerlogo" href="../index.html"><img src="/images/shared/logo.gif"/><span>The U.S.-China New Perspectives Foundation</span></a>
</div>

      	<div class="span-24 globalnavi">
      		<ul class="main_nav">
				<li class="active"><a href="/en/" class="navi">Home</a></li>
				<li><a href="/en/introduction.html" class="navi">About Us</a></li>
				<li><a href="/en/fankong.html" class="navi">Programs</a></li>
				<li><a href="/en/news/" class="navi">Events</a></li>
			        <li><a href="/en/view/" class="navi">Viewpoint</a></li>
				<li><a href="/en/contact.html" class="navi">Contact Us</a></li>
			</ul>
      	</div>
      	
      	<div id="main_content" class="span-24">
      			<p class="quiet time">&nbsp;</p>
   			    <div align="center" class="STYLE10">
   			      <h1>The Experts Speak: What Will US-China Relations Look Like Under Trump?</h1>
   			      </div>
	          <p align="center">&nbsp;</p>
	          <p align="center"><span class="quiet time  STYLE12">1970-01-01 08:00:00&nbsp;&nbsp;</span></p>
	          <br>
	          <br>
	          <div class="xinwen" style="font-size:16px;line-height:1.6em;text-indent:2em"><span style="font-family: Times New Roman">The answer is not obvious, since any younger leaders would owe their rise in large part to Xi &mdash; meaning Xi would have the ability to influence the composition (and therefore likely policies) of his successor. Not since Deng Xiaoping designated not only Jiang Zemin but also Hu Jintao to be the next Party and national heads would a Chinese leader have had such a hand in shaping his own succession. It is unclear that Xi&rsquo;s counterparts and fellow collective leaders would want to cede so much power and influence to him.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">On the other hand, elevating an older group of leaders would mean yet another round of high-level jockeying in 2021-2022, when this new cohort would have to step down. Not only would this mean yet more political infighting, but it would also signal that any economic reforms (no one is contemplating much in the way of political reforms in China) will probably be tepid, at best. Indeed, the past five years have seen few major efforts at market reform, despite nominal commitments at the 18th&nbsp;Party Congress in 2012 to sustaining the role of markets and other liberalizing platitudes.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">Given the &ldquo;lost decade&rdquo; under Hu Jintao, when economic policies saw a renewed emphasis on central direction and suspended reforms, a further lack of reform for the next five years would mean nearly 20 years of state-centered policies. With China&rsquo;s economy already slowing, continued lack of reform would have ugly implications for future growth prospects.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">This in turn could begin to affect the resources available for national efforts, whether to improve national infrastructure, support Chinese efforts in outer space, or sustain the ongoing military modernization effort.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">Further complicating U.S.-China relations is whether the new leadership cohort will be oriented toward foreign policy. Indeed, if the Chinese maintain their past pattern of not making the foreign minister a Politburo member, there may well be a period of adjustment as the new foreign minister and state councilor for foreign affairs determine their footing over their first year. After November 2017, Trump and the many new faces on his his foreign policy team may find themselves somewhat more experienced than their Chinese counterparts!</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">These elements suggest that the next few months will see intense Chinese debate and struggles over who will rise in the fall&rsquo;s 19th&nbsp;Party Congress. This, in turn, may mean that Chinese attention to foreign affairs during the second hundred days of the Trump Administration will be attenuated, as Beijing&rsquo;s focus shifts inward. This may present opportunities for the United States, if the incoming Trump Administration is prepared for them.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman"><strong>Xie Tao, Professor, Beijing Foreign Studies University&nbsp;</strong></span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">Before Donald Trump was elected, a section of Chinese media and analysts thought that having Trump, rather than Hillary Clinton, in the White House would be better for the development of U.S.-China relations. But Trump&rsquo;s words and deeds since being elected &mdash; whether spouting off on Twitter about U.S.-China relations and the Taiwan issue or nominating some figures with generally hardline positions on China to hold key jobs in the new Cabinet&nbsp;&mdash; doubtless felt like a slap in the face for&nbsp;those with such hopes.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">Trump&rsquo;s headstrong and repeated attacks have to a certain extent given momentum to a large &ldquo;anti-Trump&rdquo; movement. Public figures, one after another, have reminded or warned Trump not to play with fire when it comes to U.S.-China relations. As a result, the imagined Trump&nbsp;&ldquo;honeymoon&rdquo; is over before it began.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">However, perhaps this is for the best &ndash; it provided an early rescue from wishful thinking. This sort of overly hopeful mindset, whether in China or the United States, poses a large danger to handling the bilateral relationship. Trump is still Trump; the only change has been to our own knowledge of and attitude toward him. Any actions that manufacture or puff up the image of a &ldquo;fake friendship&rdquo; between China and the United States will only mislead the peoples and decision-makers of the two countries and raise the political costs of future policy adjustments.</div>
   	  </div>     
          	<!--Footer-->
  <div class="footer2" style="width:950px;margin:0 auto;clear: both;">
    <div class="container clearfix" style="width:950px;">
      <div class="copyright fl" style="margin-left:25px;">
        <div class="contact"> <a href="/index.php/Index/statement.html">Copyright</a><b>|</b><a href="/index.php/About/contact.html">Contact</a> </div>
        <p>美中新视角基金会版权所有 Copyright &copy; The U.S.-China New Perspectives Foundation</p>
        <p style="text-indent:0em;">电话TEL：+1（626）656-3512（U.S.）；+86（10）6496-1765（中国）</p>
      </div>
      <div class="scan-links" style="margin-right: 25px;"> 
          <a class="forum-link" href="#"><img src="/images/shared/weixin.png" alt="微信公众号"/><span>微信公众号</span></a> 
      </div>
    </div>
  </div>
      	
      	<div id="lanuagetextbar" class="prepend-17 span-5"><div class="right push-1"><a href="/zh-cn/index.html" onClick="setCookie('userlang','zh-cn', 30)">中文简体</a> |  <a href="/en/index.html" onClick="setCookie('userlang','en', 30)">ENGLISH</a></div></div>
      	<div id="languagemap" class="span-2 last"><a href=""><img class="right" width="56" height="29" src="/images/shared/world.gif"></a></div>	
    </div>
  </body>
</html>
