<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/images/shared/favicon.png" type="image/png" />
    <title>The Experts Speak: What Will US-China Relations Look Like Under Trump?</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection, print">
    <!--link rel="stylesheet" href="../../css/blueprint/print.css" type="text/css" media="print"-->
    <!--[if lt IE 8]><link rel="stylesheet" href="../../css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  	
  	<!-- Common js -->
    <script type="text/javascript" src="/js/print.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>

	<!-- Import for global files -->
	<link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/zh-cn/css/global.css" type="text/css" media="screen, projection, print">
  	
  	<!--Import for page specific file-->
  	<link rel="stylesheet" href="/css/news.css" type="text/css" media="screen, projection, print">
  	<link rel="stylesheet" href="/css/news_subpages.css" type="text/css" media="screen, projection, print">



   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, print">
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection, print">


    <style type="text/css">
<!--
.STYLE10 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.STYLE12 {
	color: #000000;
	font-weight: bold;
}
.STYLE14 {color: #FFFFFF}
.STYLE15 {color: #000000}
-->
    </style>
</head>
  <body>
  	
    <div class="container">
      	<div class="span-24">
      		<a id="headerlogo" href="../index.html"><img src="/images/shared/logo.gif"/><span>The U.S.-China New Perspectives Foundation</span></a>
</div>

      	<div class="span-24 globalnavi">
      		<ul class="main_nav">
				<li class="active"><a href="/en/" class="navi">Home</a></li>
				<li><a href="/en/introduction.html" class="navi">About Us</a></li>
				<li><a href="/en/fankong.html" class="navi">Programs</a></li>
				<li><a href="/en/news/" class="navi">Events</a></li>
			        <li><a href="/en/view/" class="navi">Viewpoint</a></li>
				<li><a href="/en/contact.html" class="navi">Contact Us</a></li>
			</ul>
      	</div>
      	
      	<div id="main_content" class="span-24">
      			<p class="quiet time">&nbsp;</p>
   			    <div align="center" class="STYLE10">
   			      <h1>The Experts Speak: What Will US-China Relations Look Like Under Trump?</h1>
   			      </div>
	          <p align="center">&nbsp;</p>
	          <p align="center"><span class="quiet time  STYLE12">1970-01-01 08:00:00&nbsp;&nbsp;</span></p>
	          <br>
	          <br>
	          <div class="xinwen" style="font-size:16px;line-height:1.6em;text-indent:2em"></span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman"><strong>Xiong Zhiyong, Professor, Department of Diplomacy, China Foreign Affairs University</strong></span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">As widely projected, China-U.S. relations will go through a period of uncertainty in 2017, and the two countries may even slide into hostility. Trump, a business executive with little prior experience in politics,&nbsp;is now president in the U.S., at a time when both countries are faced with various domestic and international challenges.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">However, bilateral ties between China and the U.S. are not doomed to deteriorate into a crisis. It all depends on the action of those in power.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">While it is still difficult to foresee how the Trump administration may act, China should nevertheless know what it needs to do:</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">1. Implement deep reforms to reduce domestic pressure</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">2. While not giving in on principles, be flexible and maintain good relations with neighboring countries to reduce international pressure</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">3. Watch the policies and actions of the new U.S. administration with a cool head and avoid making rash decisions</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">4. Take into account the fact that most of Trump&rsquo;s team are not mainstream politicians and have little knowledge of China; some of them also have their own political motives. Since the new U.S. administration has few connections with China, the primary task of the Chinese government is to establish communication channels with their U.S. counterparts.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">5. Make contingency plans in areas of potential conflicts.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman"><strong>Zhu Jun, Professor, School of International Studies, Peking University</strong></span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">The start of the new year is rarely uneventful. With Trump in&nbsp;the White House, China and the U.S. will once again venture into uncharted waters.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">A few years ago, I suggested that relations between China and the U.S. had become interdependent and their competition would continue to intensify. Competition is now the defining feature of China-U.S. relations, the main area of contention being the gradual adjustment of their relative positions in the Asia-Pacific region. The course of events so far indicates that the scope of this competition has been expanding continuously. However, &ldquo;competition&rdquo; is not necessarily a negative word. Many factors can lead to competition between countries, and the results of competition are not always counterproductive.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">One deep cause for the pessimism shared by many observers is the fact that increasing competition between China and the U.S. has deepened their mutual strategic suspicion. Moreover, with the media motivated by commercial interests stoking up populism and nationalism, the two countries now lack the proper political climate to deal with the impact of a potential crisis.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">Historically, both mutual strategic trust and mutual strategic suspicion between China and the U.S. have been the results of profound and valuable thinking, and should not be reduced to positions on security issues only. Fundamentally, this&nbsp;is a matter of how the two countries understand and assess the direction the other country is taking.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">China and the U.S. need to be cautious and act within the boundary of prudence. We hope the interdependence between the two countries can withstand the challenges of this precarious time.</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman">PS：</span></span></p>
<p><span style="font-size: small"><span style="font-family: Times New Roman"><font color="#000000"><span style="mso-spacerun: 'yes'; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri; mso-bidi-font-family: 'Times New Roman'; mso-font-kerning: 1.0000pt">O</div>
   	  </div>     
          	<!--Footer-->
  <div class="footer2" style="width:950px;margin:0 auto;clear: both;">
    <div class="container clearfix" style="width:950px;">
      <div class="copyright fl" style="margin-left:25px;">
        <div class="contact"> <a href="/index.php/Index/statement.html">Copyright</a><b>|</b><a href="/index.php/About/contact.html">Contact</a> </div>
        <p>美中新视角基金会版权所有 Copyright &copy; The U.S.-China New Perspectives Foundation</p>
        <p style="text-indent:0em;">电话TEL：+1（626）656-3512（U.S.）；+86（10）6496-1765（中国）</p>
      </div>
      <div class="scan-links" style="margin-right: 25px;"> 
          <a class="forum-link" href="#"><img src="/images/shared/weixin.png" alt="微信公众号"/><span>微信公众号</span></a> 
      </div>
    </div>
  </div>
      	
      	<div id="lanuagetextbar" class="prepend-17 span-5"><div class="right push-1"><a href="/zh-cn/index.html" onClick="setCookie('userlang','zh-cn', 30)">中文简体</a> |  <a href="/en/index.html" onClick="setCookie('userlang','en', 30)">ENGLISH</a></div></div>
      	<div id="languagemap" class="span-2 last"><a href=""><img class="right" width="56" height="29" src="/images/shared/world.gif"></a></div>	
    </div>
  </body>
</html>
